<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>jspPro</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
<!-- <servlet>
 <description>첫번째 서블릿 샘플</description>
 <description>현재 날짜/ 시간 정보 응답</description>
 <servlet-name>Now</servlet-name>
 <servlet-class>days01.Now</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Now</servlet-name>
<url-pattern>*.ss</url-pattern>
<url-pattern>/days01/Now.html</url-pattern>
<url-pattern>/days01/Now</url-pattern>
<url-pattern>/days01/Now.ss</url-pattern>
<url-pattern>*.ss</url-pattern>
</servlet-mapping> -->

</web-app>